form.product-filters {
  > div {
    justify-content: center;
    &:not(:last-child) {
      border-right: 2px solid #a9a9a9;
      padding-right: 1rem;
    }

    &:not(:first-child) {
      padding-left: 1rem;
    }
  }

  div[role="radiogroup"] {
    gap: 1rem;
    text-align: center;
  }

  datalist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
  }

  option {
    padding: 0;
  }

  input[type="range"] {
    width: 300px;
    margin: 0;
  }

  .checked {
    color: orangered;
  }
}
