@import "./select.scss";
@import "./breakpoints.scss";

.card,
.tile {
  padding: 0 10px;
  background-color: white;
}

.card {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.tile {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.text-uppercase {
  text-transform: uppercase;
}

.text-strikethrough {
  text-decoration: line-through;
}

.text-bold {
  font-weight: bold;
}

.text-black {
  color: black;
}

.text-success {
  color: green;
}

.text-white {
  color: white;
}

.text-grey {
  color: grey;
}

.text-sm {
  font-size: smaller;
}

.text-lg {
  font-size: large;
}

.text-xl {
  font-size: x-large;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.flex {
  &-wrap {
    flex-wrap: wrap;
  }

  &-row {
    flex-direction: row;
  }

  &-col {
    flex-direction: column;
  }
}

.align-center {
  align-items: center;
}

.m {
  &t-1 {
    margin-top: 1rem;
  }
  &b-1 {
    margin-bottom: 1rem;
  }
  &l-1 {
    margin-left: 1rem;
  }
  &r-1 {
    margin-right: 1rem;
  }
  &x-1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  &y-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &-1 {
    margin: 1rem 1rem;
  }
}

.w-100 {
  width: 100%;
}

.mw-100 {
  max-width: 100%;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover:disabled {
    border-color: transparent;
  }

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &.no-style {
    border-radius: none;
    background: none;
    padding: 0;

    &:hover {
      border-color: none;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  // a:hover {
  //   color: #747bff;
  // }
  button {
    background-color: #f9f9f9;
  }
}
