// breakpoints
$mobile-max-width: 451px;
$tablet-min-width: 768px;
$desktop-min-width: 1024px;

// carousel
$carousel-action-btn-width: 60px;
$carousel-items-gap: 1rem;

// colors
$color-dark-theme: white;
$color-light-theme: black;
$bg-dark-theme: #303030;
$bg-light-theme: #f0f0f0;
