@import "../../styles/breakpoints.scss";

.carousel-container {
  display: flex;
  background: #f0f0f0;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;

  .action {
    display: none;
    align-self: center;
    font-size: large;
  }
}

@media screen and (min-width: $tablet-min-width) {
  .carousel-container {
    .action {
      display: block;
    }
  }
}
