.product-grid {
  display: flex;
  flex-direction: column;
  max-height: 100vh;

  .carousel-container {
    display: flex;
    background: #f0f0f0;
    width: 100vw;
    gap: 1rem;
    justify-content: space-between;

    .action {
      align-self: center;
      font-size: large;
    }

    .grid-container {
      flex-grow: 1;
      overflow: hidden;
    }
  }

  .item-container {
    padding: 1rem 0;
    height: 750px;
  }

  .items {
    height: 100%;
    display: grid;
    grid-auto-flow: column dense;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(3, min(33%, 240px));
    grid-auto-columns: minmax(150px, 1fr);
    grid-gap: 4px;
    overflow: hidden;
    scroll-behavior: smooth;
  }
}
