@import "../../styles/breakpoints.scss";

.product-grid {
  display: flex;
  flex-direction: column;

  .grid-container {
    flex-grow: 1;
    margin: 0 1rem;
    overflow: hidden;
  }

  .item-container {
    padding: 1rem 0;
  }

  .items {
    height: 100%;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: minmax(200px, 1fr);
    grid-gap: 8px;
    overflow: hidden;
    scroll-behavior: smooth;
  }
}

@media screen and (min-width: $tablet-min-width) {
  .product-grid {
    .items {
      grid-auto-flow: column dense;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-template-rows: repeat(3, minmax(200px, 1fr));
      grid-gap: 4px;
      grid-auto-columns: minmax(150px, 1fr);
    }
  }
}
