@import "../../styles/variables.scss";

.product-grid {
  display: flex;
  background: $bg-dark-theme;
  flex-direction: column;

  .grid-container {
    margin-left: 1rem;
    overflow: hidden;
  }

  .item-container {
    padding-bottom: 1rem;

    .product-count {
      text-align: end;
      margin-bottom: 0.25rem;
      margin-right: 0.25rem;
    }
  }

  .items {
    display: grid;
    grid-auto-flow: column dense;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-template-rows: 350px;
    grid-auto-rows: 0;
    grid-auto-columns: minmax(180px, 1fr);
    row-gap: 0;
    column-gap: 8px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: all 600ms ease-in-out;
  }
}

@media screen and (min-width: $mobile-max-width) {
  .product-grid {
    .product-count {
      margin-right: 0;
    }

    .items {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-template-rows: repeat(3, minmax(auto, 220px));
      grid-auto-columns: minmax(150px, 1fr);
      row-gap: 4px;
      column-gap: 4px;

      &.single-row {
        grid-template-columns: repeat(auto-fit, min(20%, 25%));
        grid-template-rows: 350px;
        grid-auto-columns: 20%;
        grid-auto-rows: 0;
        row-gap: 0;
      }
    }
  }
}

@media screen and (min-width: $tablet-min-width) {
  .product-grid .grid-container {
    margin-left: 0px;
  }
}
@media (prefers-color-scheme: light) {
  .product-grid {
    background-color: $bg-light-theme;
  }
}
