@import "../../../styles/breakpoints.scss";

.product-grid-header {
  flex-direction: column;
}

@media screen and (min-width: $tablet-min-width) {
  .product-grid-header {
    column-gap: 3rem;
    flex-direction: row;
    align-items: center;
  }
}
